.logo-container {
  position: fixed;
  top: 20px;
  left: 0px;
  background-color: #ffa7c6;
  border-radius: 20px;
  padding: 7px 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  height:70px;
}

.logo {
  width: 230px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  background-image: url('/imagens/logo.png');
}
