@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Questrial&display=swap');

body {
   margin: 0;
   font-family: "Questrial", sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   overflow: hidden;
   background-image: url('../imagens/fotofundo2.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 }

.turma-titulo {
  background: white;
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 1.5em;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  align-items: center;
  display: block;
}

.grade-alunos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 800px;
  padding: 0 20px;
}

.aluno {
  background: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  gap: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.aluno img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.aluno span {
  font-weight: bold;
}

.fotos-turma,
.addaluno {
  margin-top: 30px;
  background: #dff3ff;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 1em;
  cursor: pointer;
  font-weight: bold;
}
