@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Questrial&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/public/imagens/fotofundo.png'); 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*container do formulário*/
.form-container {
  background: white;
  border-radius: 40px;
  padding: 40px;
  width: 400px;
  max-width: 90%;
  text-align: left;
  box-shadow: 0px 0px 40px rgb(10, 10, 10); 
}


/*título do formulário*/
h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  color: #999;
  margin-bottom: 20px;
}

/*estilo para os labels*/
label {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  color: #333;
}

/*input e select */
input, select {
  width: 100%;
  padding: 12px;
  border: 3px solid #c3c9c7;
  border-radius: 30px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  margin-top: 5px;
}

/*estilo do campo de select (como o de gênero)*/
select {
  appearance: none;
  background: white url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>") no-repeat right 12px center;
  background-size: 16px 16px;
}

/*container para os campos de senha*/
.senha-container {
  position: relative;
  width: 100%;
}

/*estilo para os inputs de senha*/
.senha-container input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  border: 3px solid #c3c9c7;
  border-radius: 30px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  margin-top: 5px;
}

/*estilo do ícone de olho dentro da caixa de senha*/
.olho {
  position: absolute;
  right: 10px; /*coloca o ícone à direita*/
  top: 50%;
  transform: translateY(-50%); /*centraliza verticalmente*/
  cursor: pointer;
  font-size: 20px;
  color: #888;
  z-index: 1; /*garante que o ícone fique acima do campo de input*/
}

.olho:hover {
  color: #333; /*altera a cor quando o ícone é hover */
}

/*estilo para o botão de envio*/
button#concluir {
  background-color: #ffa7c6; 
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  width: 150px;
  border: none !important;
  transition: all linear 160ms;
  cursor: pointer;
  margin: 20px auto 1px;
  padding: 11px;
  border-radius: 50px;
  text-align: center;
  display: inline-block;
  font-family: 'Questrial', sans-serif;
}

/*efeito de hover no botão*/
button#concluir:hover,
a:hover {
  transform: scale(1.05); /*leve aumento de tamanho quando o botão é hover*/
}

a{
  background-color: #ffa7c6; 
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  width: 130px;
  transition: all linear 160ms;
  cursor: pointer;
  padding: 12px;
  border-radius: 50px;
  margin-left: 45px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

input[type="date"] {
  font-family: "Questrial", sans-serif;
}