@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Questrial&display=swap');

body {
    margin: 0;
    font-family: "Questrial", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-image: url('../imagens/fotofundo2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Foto de perfil */
#fotoperfil {
    width: 365px;
    height: 455.8px;
    object-fit: cover;
    border-radius: 50px;
    border: 3px solid #d9d9d9;
    margin-left: 50px;
        box-shadow: 0px 0px 40px rgb(142, 142, 142); 
}

/* Posiciona a imagem no centro-esquerda */
#imagem {
    position: absolute;
    left: 65%;
    top: 45%;
    transform: translateY(-50%);

}

/* Botões alinhados horizontalmente */
#botoes {
    position: absolute;
    right: 40%;
    top: 45%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column; /*agora os botões ficam um atrás do outro */
    align-items: center;
    gap: 20px; /* espaçamento vertical entre os botões */
    background-color: #ffffff;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 30px;
    border-radius: 30px;
    border: 3px solid #d9d9d9;
    box-shadow: 0px 0px 40px rgb(142, 142, 142); 
}


/* Estilo dos botões */
.botao {
    display: block;
    width: 480px; /* largura fixa para todos os botões */
    padding: 15px 0; /* padding só vertical */
    background-color: #f2f2f2;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 3px solid #d9d9d9;
    border-radius: 100px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}


.botao:hover {
    background-color: #ddd;
}

#logout {
    background-color: #fce4ec;
    padding: 10px 50px;
    margin-top: 10px;
    margin-bottom: -40px;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 3px solid #d9d9d9;
    border-radius: 100px;
    font-family: 'Questrial', sans-serif; 
    text-decoration: none;
    color: black;
}

#logout:hover {
    background-color: #f8d2e0;
}
