.logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.logo {
  width: 130px;
  height: 130px;
  background-color: #ffa7c6;
  border-radius: 60px;
  padding-left: 100px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: -75px;
}

.logo img {
  width: 400px;
  height: 220px;
  object-fit: cover;
  border-radius: 40px;
  margin-top: -15px;
}
