   @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Questrial&display=swap');
   
    body {
      margin: 0;
      font-family: "Questrial", sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      flex-direction: column;
      overflow: hidden;
      background-image: url('../imagens/fotofundo2.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .caixabotao {
      display: flex;
      flex-direction: column;   
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 400px;            
      width: 850px;
      background: white;
      border-radius: 25px;
      box-shadow: 0 0 40px rgba(0,0,0,1);
      padding: 10px 20px;
      text-align: center;
      overflow: hidden;
      border: 2px solid #d6d6d6;
    }

    .botao {
      background: #f6f6f6;
      border: 3px solid #d9d9d9;
      border-radius: 30px;
      padding: 15px;
      margin: 10px 10px;
      font-size: 1.2em;
      width: 150px;
      cursor: pointer;
      font-family: "Questrial", sans-serif;
    }

    .botaodevoltar {
      background: #fddde6;
      color: black;
      border-radius: 30px;
      border: 2px solid #d9d9d9;
      padding: 10px 30px;
      margin-top: -200px;
      font-weight: bold;
      cursor: pointer;
      font-family: "Questrial", sans-serif;
      position: absolute;
      bottom: 25px;
      right: 45%;
    }

    

.botaodevoltar:hover,
.botao:hover {
  transform: scale(1.05);
}

#custom-alert {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#custom-alert .alert-content {
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  max-width: 320px;
  text-align: center;
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  user-select: none;
}

#custom-alert #alert-ok-button {
  margin-top: 15px;
  padding: 10px 22px;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  transition: background-color 0.2s ease-in-out;
}

#custom-alert #alert-ok-button:hover {
  background-color: #0056b3;
}

.botoes{
  margin-top: 60px;
}