<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Funcionário</title>
    <link rel="stylesheet" href="/css/etelafunc.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/logo.css">
</head>
<body>
    <div id="imagem">
        <img src="" alt="fotofunc" id="fotoperfil">
    </div>

    <div id="botoes">
        <a href="/turma/index" class="botao">Turmas Func</a>
        <a href="/perfil/perfil" class="botao">Perfil</a>
        <a href="/index" id="logout">Sair</a>
    </div>
    <div id="footer"></div>
    <div id="logo"></div>
    <script src="/js/footer.js"></script>
    <script src="/js/logo.js"></script>
</body>
</html>
