<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Responsável</title>
    <link rel="stylesheet" href="/css/etelafunc.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/logo.css">
</head>
<body></body>

    <div id="botoes">
        <a href="/turmas" onclick="sessionStorage.setItem('voltarPara', window.location.pathname)" class="botao">Turmas</a>
        <a href="/perfilr" class="botao">Perfil</a>
        <a href="/" id="logout">Sair</a>
    </div>

<body>
    <div id="imagem">
        <img src="<%= foto %>" alt="Foto do usuário" id="fotoperfil"/>

    </div>


    <div id="footer"></div>
    <div id="logo"></div>
    <script src="/js/footer.js"></script>
    <script src="/js/logo.js"></script>
</body>
</html>