<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Tela Turmas</title>
  <link rel="stylesheet" href="/public/css/telaturmas.css">
  <link rel="stylesheet" href="/public/css/footer.css">
  <link rel="stylesheet" href="/public/css/logo.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Questrial&display=swap" rel="stylesheet">
</head>
<body>
  <div class="caixabotao" id="turmasContainer">
      <div class="botoes">
      <a href="/turmas/turmab1"><button class="botao">B1</button></a>
      <a href="/turmas/turmab2a"><button class="botao">B2A</button></a>
      <a href="/turmas/turmab2b"><button class="botao">B2B</button></a>
      <a href="/turmas/turmam1a"><button class="botao">M1A</button></a>
      <a href="/turmas/turmam1b"><button class="botao">M1B</button></a>
      <a href="/turmas/turmam2a"><button class="botao">M2A</button></a>
      <a href="/turmas/turmam2b"><button class="botao">M2B</button></a>
      <a href="/turmas/turmap1a"><button class="botao">Pré 1A</button></a>
      <a href="/turmas/turmap1b"><button class="botao">Pré 1B</button></a>
      <a href="/turmas/turmap2a"><button class="botao">Pré 2A</button></a>
      <a href="/turmas/turmap2b"><button class="botao">Pré 2B</button></a>
    </div>
    <a href="/resp/index"><button class="botaodevoltar">Voltar</button></a>
  </div>
  <div id="footer"></div>
  <div id="logo"></div>
  <script src="/js/footer.js"></script>
  <script src="/js/logo.js"></script>
</body>
</html>
